<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SistemaVentasWeb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="TRACEVerbHandler"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="POST, GET"/>
        <add name="Access-Control-Allow-Headers" value="content-type"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="RemoteOnly" defaultRedirect="/Pages/pagMensajeSistema.aspx"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <SistemaVentasWeb.My.MySettings>
      <setting name="SistemaVentasWeb_cl_agroinsumos_wssap_test_srvOrdenVenta"
        serializeAs="String">
        <value>http://wssap_test.agroinsumos.cl/Services/srvOrdenVenta.asmx</value>
      </setting>
      <setting name="SistemaVentasWeb_com_azurian_cloudtattersallqa_VisualizacionService"
        serializeAs="String">
        <value>http://cloudtattersallqa.azurian.com/dte-ws-services/services/VisualizacionService.VisualizacionServiceHttpSoap11Endpoint/</value>
      </setting>
    </SistemaVentasWeb.My.MySettings>
  </applicationSettings>
</configuration>